*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(197, 32, 32);
    display: flex;
   justify-content: center;
    align-items: center;
    
}
.card{
    top: 50%;
    left: 50%;
    /*position: absolute;
    transform: translate(-50%, -50%);*/
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    border-radius: 10%;
}
#card1{
    
    background-color: blue;
    z-index: 4;
    transform: translate(-50%, -50%)

}
#card2{
    z-index: 3;
    background-color: rgb(14, 161, 63);
    transform: translate(-50%, -50%) rotate(16deg);

}
#card3{
    z-index: 2;
    background-color: brown;
    transform: translate(-50%, -50%) rotate(24deg);
}
#card4{
    z-index: 1;
    background-color: chocolate;
    transform: translate(-50%, -50%) rotate(32deg);

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}