* {
    margin: 0%;
    padding: 0%;
}

html,
/* body {
    height: 10%;
    width: 10%;

} */

#main {
    height: 100vh;
    width: 100%;
    margin-bottom: 50px;
    background-color: rgb(28, 166, 208);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


h1:hover{
    color: chartreuse;
}

.shape {
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin:10px 10px; */
    /* margin-bottom: 10px; */
    height: 200px;
    width: 200px;
    background-color: hsl(245, 47%, 90%);
    border: 1px solid #000000

}

#square{
    background-color: #ffffff;
}
    
#square:hover{
    background-color: rgb(203, 227, 20);
}
#circle{
    border-radius: 50%;
    
}
#circle:hover{
    background-color: darkgoldenrod;
}
#dimond{
    rotate: 45deg;
    margin-top: 80%;
}
#dimond:hover{
    background-color: lightsalmon;
}
#dimond h1{
    rotate: -45deg;
}